.diachi{
    width: 100%;
}
.group-select {
    display: flex;
    width: 98%;
    margin: 0.5rem;
}
.group-select label{
    font-size: 16px;
    width: 20%;
    color: rgb(15, 122, 122);
    font-weight: 800;
}
.group-select select{
    height: 50px;
    width: 80%;
    font-size: 16px;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid lightblue;
}
.group-select select:focus{
    outline: 2px solid rgb(6, 158, 209);
}
.group-select select option{
    font-size: 16px;
    padding: 0.5rem;
}
.double-select{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}
.double-select .select-group {
    width: 100%;
}
.double-select .select-group select{
    width: 100%;
}
.error{
    padding-top: 0.5rem;
    color: red;
}