.page.active{
    background-color: rgb(82, 173, 203);
    color: #fff;
}
.list-page li.page{
    font-size: 16px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0.5rem;
    border: solid lightblue;
    margin: 0.5rem;
  }
  .list-page li input.limit-page{
    width: 65px;
    height: 50px;
    text-align: center;
    padding: 0.5rem;
    border: solid lightblue;
    margin: 0.5rem;
    font-size: 16px;
  }
